<footer class="text-center text-white" style="background-color: #c5f6ff">
  <div class="container pt-4">
    <section class="">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1 fs-6"
        href="https://www.omdbapi.com/"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >OMDb API</a
      >
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1 fs-6"
        href="https://rawg.io/apidocs"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >RAWG.io API</a
      >
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1 fs-6"
        href="https://developers.google.com/books/docs/overview"
        target="_blank"
        role="button"
        data-mdb-ripple-color="dark"
        >Google Books API</a
      >
    </section>
  </div>

  <div class="text-center text-dark p-3" style="background-color: #c5f6ff">
    © 2022 Copyright:
    <a
      class="text-dark"
      href="https://www.linkedin.com/in/jacobcurry27/"
      target="_blank"
      >Jacob Curry</a
    >
  </div>
</footer>
