<nav class="navbar fixed-top">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <%if(path === '/movie'){%>
    <a class="text-decoration-none d-flex align-items-center" href="/movie">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
        <path
          d="m7 8 3.7 7.6h6.5L13.5 8h4.45l3.7 7.6h6.5L24.45 8h4.45l3.7 7.6h6.5L35.4 8H41q1.2 0 2.1.9.9.9.9 2.1v26q0 1.2-.9 2.1-.9.9-2.1.9H7q-1.2 0-2.1-.9Q4 38.2 4 37V11q0-1.2.9-2.1Q5.8 8 7 8Zm0 10.6V37h34V18.6Zm0 0V37Z"
        />
      </svg>
      <h1 class="m-0 text-dark">Movie Lister</h1>
    </a>
    <%}else if(path === '/videogame'){%>
    <a class="text-decoration-none d-flex align-items-center" href="/videogame">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
        <path
          d="M7 36q-1.2 0-2.1-.9Q4 34.2 4 33V15q0-1.2.9-2.1.9-.9 2.1-.9h34q1.2 0 2.1.9.9.9.9 2.1v18q0 1.2-.9 2.1-.9.9-2.1.9Zm0-3h34V15H7v18Zm7.5-2.3h3v-5.2h5.2v-3h-5.2v-5.2h-3v5.2H9.3v3h5.2Zm15.15-.9q.9 0 1.575-.675.675-.675.675-1.575 0-.9-.675-1.575-.675-.675-1.575-.675-.9 0-1.575.675-.675.675-.675 1.575 0 .9.675 1.575.675.675 1.575.675Zm4.5-7.15q.9 0 1.575-.675.675-.675.675-1.575 0-.9-.675-1.575-.675-.675-1.575-.675-.9 0-1.575.675-.675.675-.675 1.575 0 .9.675 1.575.675.675 1.575.675ZM7 33V15v18Z"
        />
      </svg>
      <h1 class="m-0 text-dark">Videogame Lister</h1>
    </a>
    <%}else if(path === '/book'){%>
    <a class="text-decoration-none d-flex align-items-center" href="/book">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
        <path
          d="M28 19.3v-2.4q1.65-.7 3.375-1.05Q33.1 15.5 35 15.5q1.3 0 2.55.2 1.25.2 2.45.5v2.2q-1.2-.45-2.425-.675Q36.35 17.5 35 17.5q-1.9 0-3.65.475T28 19.3Zm0 11v-2.45q1.65-.7 3.375-1.025Q33.1 26.5 35 26.5q1.3 0 2.55.2 1.25.2 2.45.5v2.2q-1.2-.45-2.425-.675Q36.35 28.5 35 28.5q-1.9 0-3.65.45T28 30.3Zm0-5.5v-2.4q1.65-.7 3.375-1.05Q33.1 21 35 21q1.3 0 2.55.2 1.25.2 2.45.5v2.2q-1.2-.45-2.425-.675Q36.35 23 35 23q-1.9 0-3.65.475T28 24.8ZM12.4 33q2.7 0 5.225.625 2.525.625 4.975 1.875V14.15q-2.25-1.5-4.875-2.325Q15.1 11 12.4 11q-1.9 0-3.725.475Q6.85 11.95 5 12.65v21.7q1.55-.7 3.525-1.025Q10.5 33 12.4 33Zm13.2 2.5q2.5-1.25 4.9-1.875Q32.9 33 35.6 33q1.9 0 3.925.3t3.475.8V12.65q-1.7-.85-3.6-1.25-1.9-.4-3.8-.4-2.7 0-5.225.825-2.525.825-4.775 2.325ZM24.1 40q-2.55-1.9-5.55-2.925T12.4 36.05q-1.85 0-3.6.45t-3.5 1.1q-1.15.55-2.225-.15Q2 36.75 2 35.45V12.3q0-.75.35-1.375T3.4 9.95q2.1-1 4.375-1.475Q10.05 8 12.4 8q3.15 0 6.125.85t5.575 2.6q2.55-1.75 5.475-2.6Q32.5 8 35.6 8q2.35 0 4.6.475 2.25.475 4.35 1.475.7.35 1.075.975T46 12.3v23.15q0 1.4-1.125 2.125-1.125.725-2.225.025-1.7-.7-3.45-1.125-1.75-.425-3.6-.425-3.15 0-6.05 1.05T24.1 40ZM13.8 23.55Z"
        />
      </svg>
      <h1 class="m-0 text-dark">Book Lister</h1>
    </a>
    <%}else{%>
    <a class="text-decoration-none d-flex align-items-center" href="/">
      <svg
        class="lister-svg"
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        width="48"
      >
        <path
          d="M11.1 44q-2.2 0-3.725-1.525T5.85 38.75V32.5h6.35V4l3 3 3-3 2.95 3 3-3 3 3 3-3 3 3 3-3 3 3 3-3v34.75q0 2.2-1.525 3.725T36.9 44Zm25.8-3q1 0 1.625-.625t.625-1.625V9H15.2v23.5h19.45v6.25q0 1 .625 1.625T36.9 41ZM17.85 16.9v-3h12v3Zm0 6.7v-3h12v3Zm16.65-6.7q-.6 0-1.05-.45Q33 16 33 15.4q0-.6.45-1.05.45-.45 1.05-.45.6 0 1.05.45.45.45.45 1.05 0 .6-.45 1.05-.45.45-1.05.45Zm0 6.45q-.6 0-1.05-.45-.45-.45-.45-1.05 0-.6.45-1.05.45-.45 1.05-.45.6 0 1.05.45.45.45.45 1.05 0 .6-.45 1.05-.45.45-1.05.45ZM11.05 41h20.6v-5.5H8.85v3.25q0 1 .625 1.625T11.05 41Zm-2.2 0v-5.5V41Z"
        />
      </svg>
      <h1 class="m-0 text-dark">Lister</h1>
    </a>
    <%}%>

    <li class="nav-item dropdown list-group-item">
      <a
        class="nav-link fs-1"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
      >
        ☰</a
      >
      <ul
        class="dropdown-menu dropdown-menu-end mt-2 ul-dropdown dropdown-menu-shadow"
      >
        <li>
          <a class="dropdown-item" href="/">Home</a>
        </li>
        <li>
          <a class="dropdown-item" href="/login">Log In/Sign Up</a>
        </li>
      </ul>
    </li>
  </div>
</nav>
