<nav class="navbar fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-end">
    <a href="/movie"><img src="img/icons8-home-page-50_1_30x30.png" /></a>

    <h2 class="m-0">Movie List</h2>

    <li class="nav-item dropdown list-group-item">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >Profile</a
      >
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-2">
        <li><a class="dropdown-item" href="#">Log In/Sign Up</a></li>
        <li><a class="dropdown-item" href="#">Your Movie List</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign Out</a></li>
      </ul>
    </li>
  </div>
</nav>
