<nav class="navbar fixed-top bg-dark">
  <div class="container-fluid d-flex justify-content-between align-items-end">
    <%if(path === '/movie'){%>
    <a class="text-decoration-none" href="/movie"
      ><h1 class="m-0 text-light">Movie Lister</h1></a
    >
    <%}else if(path === '/videogame'){%>
    <a class="text-decoration-none" href="/videogame"
      ><h1 class="m-0 text-light">Video Game Lister</h1></a
    >
    <%}else if(path === '/book'){%>
    <a class="text-decoration-none" href="/book"
      ><h1 class="m-0 text-light">Book Lister</h1></a
    >
    <%}else{%>
    <a class="text-decoration-none" href="/"
      ><h1 class="m-0 text-light">Lister</h1></a
    >
    <%}%>

    <li class="nav-item dropdown list-group-item">
      <a
        class="nav-link dropdown-toggle text-light"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >Profile</a
      >
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-2">
        <li>
          <a class="dropdown-item" href="/">Home</a>
        </li>
        <li>
          <a class="dropdown-item" href="/login">Log In/Sign Up</a>
        </li>
      </ul>
    </li>
  </div>
</nav>
