<nav class="navbar fixed-top bg-dark">
  <div class="container-fluid d-flex justify-content-between align-items-end">
    <a class="text-decoration-none" href="/"
      ><h1 class="m-0 text-light">
        <i class="fa-solid fa-masks-theater"></i>Movie List
      </h1></a
    >

    <li class="nav-item dropdown list-group-item">
      <a
        class="nav-link dropdown-toggle text-light"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >Profile</a
      >
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-2">
        <li>
          <h5 class="dropdown-item">Welcome, <%=name%></h5>
        </li>
        <li>
          <a class="dropdown-item" href="/">Home</a>
        </li>
        <li><a class="dropdown-item" href="/movielist">Your Movie List</a></li>
        <li><hr class="dropdown-divider" /></li>
        <form action="/logout" method="post">
          <li>
            <input class="dropdown-item" type="submit" value="Sign Out" />
          </li>
        </form>
      </ul>
    </li>
  </div>
</nav>
