<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Movie List Home</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div
      class="d-flex align-items-center justify-content-center"
      style="width: 100vw; height: 100vh"
    >
      <form action="/login" method="post">
        <h1>Log In</h1>
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="emailInput"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="passwordInput" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="passwordInput"
          />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
      <div class="d-flex flex-column ms-5">
        <div id="createAccount" class="form-text text-center fs-5">
          Don't Have an account?
        </div>
        <a href="/signup"
          ><button class="btn btn-primary mt-3">Sign Up</button></a
        >
      </div>
    </div>
  </body>
</html>
