<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      $(window).on("load", () => {
        $("#myModal").modal("show");
      });
    </script>

    <script type="text/javascript">
      $(window).on("load", () => {
        $(".loader").hide();
      });
    </script>
    <title>Log In</title>
  </head>
  <body>
    <div class="loader"></div>
    <%- include('./partials/header.ejs') %> <%if(noUser || wrongPassword){%>
    <div
      class="modal fade"
      id="myModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-sm container">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Uh Oh!</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <%if(noUser){%>
          <div class="modal-body"><%=noUser%></div>
          <%} else if(wrongPassword){%>
          <div class="modal-body"><%=wrongPassword%></div>
          <%}%>
        </div>
      </div>
    </div>
    <%}%>
    <div
      class="container-fluid d-flex align-items-center justify-content-center"
      style="height: 100vh"
    >
      <div class="card mt-5">
        <div class="p-3">
          <form class="text-center" action="/login" method="post">
            <h1 class="m-3 mt-0 text-center">Log In</h1>
            <div class="m-3">
              <h6 for="emailInput" class="form-label text-start">Email</h6>
              <input
                type="email"
                name="email"
                class="form-control"
                id="emailInput"
                aria-describedby="emailHelp"
                required
              />
            </div>
            <div class="m-3">
              <h6 for="passwordInput" class="form-label text-start">
                Password
              </h6>
              <input
                type="password"
                name="password"
                class="form-control"
                id="passwordInput"
                required
              />
            </div>
            <button
              type="submit"
              class="text-center"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Submit
            </button>
          </form>
        </div>
        <div id="createAccount" class="form-text text-center fs-5">
          Don't Have an account?
        </div>
        <a class="text-center" href="/signup"
          ><button class="m-3">Sign Up</button></a
        >
      </div>
    </div>
  </body>
</html>
